<!DOCTYPE html>
<html lang="en">
<head>
  <title>Significance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'significance/significant.css' %}" />
{% block javascript %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="{% static 'significance/significance.js' %}"></script>
  {% endblock %}
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">SSC</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">EBOOKS</a></li>
        <li><a href="#">WEBINARS</a></li>
        <li><a href="#">CASE STUDIES</a></li>
        <li><a href="#">BLOG</a></li>
      </ul>
      
    </div>
  </div>
</nav>
  
<div class="container" align="center">
    <div class="col-lg-12">
        <section>
        <div class="row">
            <div class="col-lg-12 title">
                <h2>Are your results significant?</h2>
            </div>
        </div>
        <div class="col-lg-12 box">{% csrf_token %}
            <div class="row hidden-xs">
                <div class="col-lg-4 col-lg-offset-4 bg-grey c-orange">Control</div>
                <div class="col-lg-4 bg-grey c-blue">Variation</div>
            </div>
            <div class="row middle-xs">
                <div class="col-lg-4 pt-10 pb-10">Number of Visitors</div>
                <div class="col-lg-12 bg-grey visible-xs c-orange pt-10">Control</div>
                <div class="col-lg-4 bg-grey pt-10 pb-10"><input type="number" class="form-control" id="visitors_c" required></div>
                <div class="col-lg-4 bg-grey  visible-xs c-blue pt-15">Variation</div>
                <div class="col-lg-4 bg-grey pt-10 pb-10"><input type="number" class="form-control" id="visitors_v" required></div>
            </div>
            <div class="row middle-xs ">
                    <div class="col-lg-4  pt-10 pb-20">Number of Conversions</div>
                    <div class="col-lg-12 bg-grey visible-xs c-orange  pt-10">Control</div>
                    <div class="col-lg-4 bg-grey  pt-10 pb-20"><input type="number" class="form-control" id="conversion_c" required></div>
                    <div class="col-lg-4 bg-grey visible-xs c-blue  pt-15">Variation</div>
                    <div class="col-lg-4 bg-grey  pt-10 pb-20"><input type="number" class="form-control" id="conversion_v" required></div>
            </div>
            
        </div>
         <div class="row">   
        <div class="col-lg-12 middle-xs" style="margin-top:40px;">
                <input type="submit" class="btn-lg btn-primary " id="significant" value= "CALCULATE"/>
        </div>
         </div>
        </section>
        <section style="margin-top:60px; display: none;" id="result">
            <div class="row" style="background-color:#A9A9A9;">
            <div class="col-lg-12"  align="center">
                
              
                <div class="row" style="margin: 20px;">
                        <div class="col-lg-6" style="max-width: 500px; ">
                            <div class="pv-20 bg-white ph-60" style="padding-top: 6px;">
                                <h3 style="color: #3892e3;">P-Value</h3>
                                <p>(Range from 0-1)</p>
                            </div>
                            <div class="pv-20 ph-60 bg-grey" style=" padding-top: 10px;">
                            <p  id="p_value">{{ p_value }}</p>
                           

                            </div>
                        </div>
                        <div class="col-lg-6" style="max-width: 500px;">
                            <div class="pv-20 bg-white col-lg  phn-pad-10" style=" padding-top: 6px;">
                                <h3 style="color: #3892e3;">Significance</h3>
                                <p>&nbsp;</p>
                            </div>
                            <div class="pv-20 bg-grey  phn-pad-10" style=" padding-top: 10px;">
                                    
                                    <p class="color-black fs-large  phn-mar-0" id="significance">{{ Significance }}</p>
                                    
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        </section>

  </div>
</div>
<div class="row" align="center"><h4> Thank you for visiting</h4></div>
</body>
</html>