
      body {
        line-height: 1.6;
        color: #6e7680;
        font-family: 'Fira Sans',sans-serif;
        font-weight: 400;
        transition: 0.3s ease;
        -webkit-font-smoothing: antialiased;
    }
      .box{
         border-radius: 2px;
         border: 1px solid #d5d8dc;
      }
      table td{
          padding: 15px;
          font-size: 15px;
          background-color:#d8dde3 !important;
      }
      table th{
          padding: 15px;
          font-size: 15px;
      }
      .bg-grey{
         background-color:#d8dde3;
      }
      .bg-white{
          background-color: white;
      }
    .c-orange{
            color: #f58d3f;
        }
    .c-blue {
        color: #3892e3;
    }
    .pt-10, .pv-10 {
    padding-top: 0.625rem !important;
    }
    .pb-10, .pv-10 {
    padding-bottom: 0.625rem !important;
    }.pt-15, .pv-15 {
        padding-top: 0.9375rem !important;
    }
    .pb-20, .pv-20 {
    padding-bottom: 1.25rem !important;
    }
    .pl-60, .ph-60 {
    padding-left: 3.75rem !important;
    }
    .title {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 40px;
    }
    
